.startup-projects-main {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap in smaller screens */
  justify-content: center; /* Centers items */
  align-items: center; /* Align items vertically */
}

.startup-projects-main > * {
  flex: 1 1 auto; /* Flex grow, shrink, and basis set to auto */
  margin: 15px; /* Adjusted margin */
  max-width: 45%; /* Maximum width for larger screens */
}

.saaya-health-div img {
  max-width: 100%;
  height: auto;
  display: block; /* Removes extra space below the image */
}

.project-card-head {
  color: rgb(36, 41, 46);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin: 0px;
}

.startup-project-text {
  display: flex;
  flex-direction:row; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

.project-card-description {
  color: rgb(88, 96, 105);
}

.saaya-health-div,
.nextu-div {
  cursor: pointer;
}

@media (max-width: 768px) {
  .startup-projects-main > * {
    margin-bottom: 20px;
    max-width: 100%; /* Full width for the container */
  }

  .project-subtitle {
    font-size: 16px;
    text-align: center;
  }

  .project-card-head {
    font-size: 20px; /* Smaller font size for smaller screens */
  }

  .saaya-health-div img {
    max-width: 25%; /* Reducing the image size on smaller screens */
    margin: 0 auto; /* Centering the image */
  }
  .startup-project-text {
    display: flex;
    flex-direction:column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }
}